/keys
/crypto/keys
/crypto/keys_*/
/crypto/crypto/keys_*/
/dbfile
/client
/genkey
/client.exe
/genkey.exe
/.VSCodeCounter
*.log
config/config.yaml
.idea/
/store
/remote
/cmd/remote/test_*.yaml*
*.txt
/server